#container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square{
    position:absolute;
    width: 200px;
    height: 200px;
    background-color: #8DAE87;
    top: 400px;
    font-size: 2em;
    color: white;
}